fastapi
uvicorn
streamlit
pydantic
pydantic-settings

langchain>=0.2.0
langchain-google-genai>=1.0.0

sentence-transformers
scikit-learn
numpy
torchvision

pdfplumber
python-docx

python-dotenv
jinja2
